* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #c900cc; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right top,
        #00dbde,
        #c900cc
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right top,
        #00dbde,
        #c900cc
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    background-attachment: fixed;
}
body,
input,
button {
    font-family: "Ubuntu", sans-serif;
}
.form_container {
    background-color: white;
    padding: 10px;
    /* position: absolute; */
    position: relative;
    margin: 180px auto;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    width: 450px;
    height: 250px;
    background-color: #333333;
    transition: all 0.3s ease-in;
    border-radius: 7px;
    box-shadow: 9px 9px 8px #404040;
}
input[type="text"] {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    background: transparent;
    margin: 15px 0px;
    color: #f2f2f2;
    transition: all 0.1s ease-in-out;
    padding: 4px 10px 4px 22px; /*to prevent text overlapping the eye icon*/
}
input[type="text"]:focus {
    border-bottom: 2px solid #0b81c1;
}
#forgot_form {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    padding: 10px 0;
}
#otp_btn {
    margin: 10px auto;
    width: 100%;
    height: 38px;
    outline: none;
    background: transparent;
    padding: 5px 25px;
    display: block;
    cursor: pointer;
    border-radius: 20px;
    background-image: linear-gradient(
        to right bottom,
        #004f7a,
        #0a6497,
        #147bb4,
        #1c92d3,
        #23aaf2
    );
    border: none;
}
span.heading {
    padding-top: 5px;
    font-size: 22px;
    display: block;
    text-align: center;
    color: #0b92da;
}
span.details {
    font-size: 0.9em;
    color: #0b81c1;
}
#otp_error {
    display: block;
    text-align: center;
    color: red;
    font-size: 14px;
    width: 90%;
    background-color: #ffb3b3;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 2px solid red;
    border-radius: 3px;
    font-weight: 500;
    top: 28%;
}
#email_icon {
    position: absolute;
    top: 32%;
    left: 0;
    color: #23aaf2;
}

/*responsive for mobile phones*/
@media (max-width: 500px) {
    body {
        height: 100vh;
    }
    .form_container {
        margin: 150px auto;
        width: 88%;
        min-height: 40%;
        padding: 10px;
    }
}

@media (max-height: 568px) and (max-width: 321px) {
    .form_container {
        margin: 110px auto;
    }
}
@media (max-height: 481px) and (max-width: 321px) {
    .form_container {
        margin: 85px auto;
    }
}
